table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
}

thead tr:first-child th {
    background-color: lightcoral;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fff;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

tr:hover {
    background-color: #dcdcdc;
}